* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  height: 100%;
  background: url(./img/home-img.jpg);
background-repeat: no-repeat;
background-size: cover;
  box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}
header{
width: 100%;
justify-content: center;
grid-area: header;
}
header div img{
opacity: 0.8;
margin-left: 45%;
width: 10%;
margin-top: 5rem;
margin-right: 45%;
justify-self: center;
}

h1.title, h1.title sup {
font-size: 2rem;
margin-top: 5rem;
text-align: center;
margin-bottom: 5rem;
}
h1.title sup{
text-decoration: underline var(--clr-primary);
display: contents;
color: #c22426;
}

.inputDiv{
display: flex;
justify-content: center;
align-items: center;
}

.input{
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  height: 50px;
  border-radius: 25px;
  width: 350px;
  margin: 0.25rem;
  transition: .5s;
  font-size: 1.15rem;
}

.add{
outline: none;
  border: none;
  height: 50px;
  border-radius: 25px;
  width: 50px;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: .5s;
  margin: 0.25rem;
}

.add:hover{
opacity: 0.7;
}

.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 2rem;
}

.item{
padding: 0.5rem;
border-bottom: 4px solid #333;
margin-bottom: 1.5rem;
}

.item_input{
background: none;
outline: none;
border: none;
color: #333;
font-size: 1.4rem;
width: 245px;
}

.edit{
background: none;
outline: none;
border: none;
color: #333;
font-size: 1rem;
font-family: 'Hind', sans-serif;
margin: 0 0.5rem;
cursor: pointer;
}

.remove{
background: none;
outline: none;
border: none;
color: #c22426;
font-size: 1rem;
font-family: 'Hind', sans-serif;
cursor: pointer;
}

.delete-stuff {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
  padding: 0.8rem;
  background: var(--clr-light);
}
