* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: auto;
  background: url(./img/img-home.jpg);
  background-repeat: no-repeat repeat;
  background-size: cover;
  box-sizing: border-box;
  background-size: 100%;
  font-family: 'Poppins', sans-serif;
}
header{
width: 100%;
justify-content: center;
display: flex;
flex-direction: column;
}
header div{
  display: flex;
  justify-content: center;
}
header div img{
opacity: 0.9;
margin-top: 5rem;
width: 15rem;
justify-self: center;
}

h1.title, h1.title sup {
font-size: 2rem;
font-weight: 300;
text-align: center;
margin-bottom: 4rem;
}
h1.title sup{
text-decoration: underline #84cb60;
font-weight: 400;
display: contents;
color: #c22426;
}

h2{
  margin-top: 6rem;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 1.8rem;
}
h2 span{
  color: white;
}

.inputDiv{
display: flex;
justify-content: center;
align-items: center;
}

.input{
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  height: 60px;
  width: 550px;
  border-radius: 10px;
  margin: 0.25rem;
  transition: .5s;
  font-size: 1.15rem;
  background: rgba(255, 255, 255, 0.3);
}
::placeholder{
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.add{
  outline: none;
  border: none;
  height: 50px;
  border-radius: 25px;
  width: 50px;
  background-color: transparent;
  color: #c22426;
  cursor: pointer;
  font-size: 2rem;
  transition: .5s;
  margin: 0.25rem;
}

.add:hover{
color: white;
background-color: #c22426;
}

.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 2rem;
}

.item{
padding: 0.2rem;
border-bottom: 4px dotted rgba(255,255,255, 0.5);
margin-bottom: 1.5rem;
justify-content: space-between;
display: flex;
width: 600px;
}

.item_input{
background: none;
outline: none;
border: none;
padding-right: 1rem;
color: #333;
font-size: 1.3rem;
width: 500px;
font-family: 'Poppins', sans-serif;
}

.edit{
background: none;
outline: none;
border: none;
color: #333;
font-weight: 600;
font-size: 0.9rem;
font-family: 'Popins', sans-serif;
margin: 0 0.5rem;
cursor: pointer;
}

.remove{
background: none;
outline: none;
border: none;
font-weight: 600;
color: #333;
font-size: 0.9rem;
font-family: 'Popins', sans-serif;
cursor: pointer;
}
.remove:hover{
  text-decoration: line-through #c22426;
  color: white;
}
.edit:hover{
  color:white;
}

